<nav class="navbar navbar-inverse navbar-fixed-top site-navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/">Angular demo</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a routerLink="/" routerLinkActive="active">首页</a>
                </li>
                <li><a routerLink="docs" routerLinkActive="active">中文文档</a>
                </li>
                <li><a href="docs/api/">API</a>
                </li>
                <li><a href="docs/writing-a-plugin/">插件开发</a>
                </li>
                <li><a href="docs/faq/">常见问题</a>
                </li>
                <li><a href="docs/recipes/">使用技巧</a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>