<div class="container">
    <div class="row">
        <h2>点击线上的标签文字可修改</h2>
        <button (click)="addNode()">添加节点</button>
        <button (click)="removeEdge()">删除边</button>
    </div>
    <div class="row">
        <section id="panel-parent">
            <div class="panzoom">
                <div id="dag-panel" class="jtk-demo-canvas canvas-wide flowchart-demo jtk-surface jtk-surface-nopan"
                     #canvas>
                    <div class="window jtk-node" id="flowchartWindow1"><strong>开始</strong><br/><br/></div>
                    <div class="window jtk-node" id="flowchartWindow2"><strong>提交申请</strong><br/><br/></div>
                    <div class="window jtk-node" id="flowchartWindow3"><strong>审批</strong><br/><br/></div>
                    <div class="window jtk-node" id="flowchartWindow4"><strong>结束</strong><br/><br/></div>
                </div>
            </div>
        </section>
    </div>
</div>