<div class="widget-share-network">
    分享：
    <ul class="sn-inline">
        <li data-network="weibo">
            <a href="http://service.weibo.com/share/share.php?url={{shareConfig.url}}&title={{shareConfig.title}}" target="_blank"
               class="entypo-weibo icon-sn-weibo share-1"
               tooltip="分享至微博">新浪微博</a>
        </li>
        <li><a (click)="showQrcode()" class="entypo-wechart icon-sn-weixin share-2" tooltip="分享至微信">微信</a></li>
    </ul>
</div>

<div class="modal fade" bsModal #qrcodeModal="bs-modal"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog share-modal-content">
        <p class="share-modal-title">打开微信“扫一扫”，打开网页后点击屏幕右上角分享按钮</p>
        <button type="button" class="share-modal-close" (click)="qrcodeModal.hide()">×</button>
        <div id="qrcode" #qrcode>

        </div>
    </div>
</div>