<button class="btn btn-success" (click)="modal.toggle()">启动模态窗</button>
<app-modal *ngIf="modal.isOn" appCloseOutside (clicking)="modal.toggle()">

</app-modal>
<span class="context-menu-one btn btn-neutral">right click me</span>
<div>
    <h1 class="say hello">
        hello1
    </h1>
    <h1 class="say hello">
        hello2
    </h1>
    <h1 class="hello">
        hello3
    </h1>
</div>

<div [innerHtml]="htmlSnippet">

</div>


<select [(ngModel)]="isList" (ngModelChange)="viewTypeChanged()">
    <option [ngValue]="true">列表浏览</option>
    <option [ngValue]="false">分组浏览</option>
</select>