<button class="btn btn-success" (click)="modal.toggle()">启动模态窗</button>
<app-modal *ngIf="modal.isOn" appCloseOutside (clicking)="modal.toggle()">

</app-modal>

<span class="context-menu-one btn btn-neutral">right click me</span>
<div>
    <h1 class="say hello">
        hello1
    </h1>
    <h1 class="say hello">
        hello2
    </h1>
    <h1 class="hello">
        hello3
    </h1>
</div>

<div [innerHtml]="htmlSnippet">

</div>
<div>
    永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    <a routerLink="/news" style="color: red;font-size: 200%">腾讯入股永辉麾下“超级物种”</a>被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。永辉超市(601933.SH)12月11日晚公告称，林芝腾讯科技有限公司拟通过协议转让方式受让永辉超市股份有限公司5%股份;同日，京东和五星电器在北京签署战略合作协议;而在几天前，大润发和欧尚的上市公司高鑫零售(06808.HK)也公告称，淘宝中国以现金作出强制性无条件全面要约，以收购高鑫零售全部已发行股份。
    腾讯入股永辉麾下“超级物种”被曝系京东相关人员牵线推进，而此次落子表明，腾讯正式加入新零售混战。
</div>
<app-social-share></app-social-share>